
html, body {
  background-color: #222;
  color: #aaa;
}

input, textarea {
  background-color: #333 !important;
  color: rgb(163, 177, 191) !important;
}

.input-group-text {
  background-color: #555;
  color: rgb(184, 200, 217);
}

.btn-outline-danger {
  color: rgb(166, 52, 41);
  border-color: rgb(166, 52, 41);
}

// https://css-tricks.com/custom-scrollbars-in-webkit/

::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  height: 12px;
  width: 12px;
  background: #000;
}

/*
::-webkit-scrollbar-button:vertical {
  height: 6px;
}

::-webkit-scrollbar-button:horizontal {
  width: 6px;
}
*/

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
  background: #333;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover {
  background: #444;
}

::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-button:active {
  background: #666;
}

::-webkit-scrollbar-track:hover {
  background: #111;
}

::-webkit-scrollbar-track:active {
  background: #222;
}
