

//themes 

.world-info {
  height: 100%;
  &.dark {
    background-color: #111;

    h1,h2,h3,h4,h5,h6 {
      color:#eee;
    }

    .btn {
      background-color: #333;
    }

    input[type=text],
    input[type=search],
    textarea {
      color:#000;
      background-color: #999;
      border-color: #aaa;
    }

    .input-group-text { 
      color:#000;
      background-color: #666;
      border-color: #aaa;
    }

    .world-entry-item {
      background-color: #444;
      color: #eee;

    }

    .work-area { background-color: #000; }  

  }
  &.light {
    background-color: #fff;
    h1,h2,h3,h4,h5,h6 {
      color:#222;
    }
  }
}

// https://css-tricks.com/custom-scrollbars-in-webkit/

::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  height: 12px;
  width: 12px;
  background: #000;
}

/*
::-webkit-scrollbar-button:vertical {
  height: 6px;
}

::-webkit-scrollbar-button:horizontal {
  width: 6px;
}
*/

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
  background: #333;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover {
  background: #444;
}

::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-button:active {
  background: #666;
}

::-webkit-scrollbar-track:hover {
  background: #111;
}

::-webkit-scrollbar-track:active {
  background: #222;
}
